@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lobster", sans-serif;
  --breakpoint-laptop: 1440.9px;
  --breakpoint-laptop-s: 1200.9px;
  --breakpoint-tablet: 1000.9px;
  --breakpoint-mobile: 768.9px;
  --breakpoint-mobile-s: 550.9px;
  --color-custom-grey-10: rgba(0, 0, 0, 0.1);
  --color-custom-grey-60: rgba(0, 0, 0, 0.6);
  --color-custom-orange: #ff7426;
  --color-custom-blue: #e7fafe;
}

@layer base {
  body {
    @apply font-primary max-laptop:text-base text-lg font-normal;
  }
}

@layer components {
  .container-custom {
    @apply max-laptop:max-w-320 mx-auto w-full max-w-425 px-5;
  }

  .text-custom-4xl {
    @apply max-laptop:text-2xl text-[32px];
  }

  .animate-custom {
    @apply relative duration-300 hover:scale-110;
  }
  .animate-custom::after {
    @apply bg-custom-orange absolute -bottom-0.5 left-0 h-0.5 w-0 rounded-lg duration-300 content-[''];
  }
  .animate-custom:hover::after {
    @apply w-full;
  }

  .overlay-custom {
    @apply max-tablet:w-full max-tablet:bg-white max-tablet:flex max-tablet:flex-col max-tablet:justify-evenly max-tablet:fixed max-tablet:z-10 max-tablet:left-0 max-tablet:top-0 max-tablet:h-screen;
  }
}
